<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="pull-right">
          <%= link_to 'edit', edit_post_path(@post), class: 'btn btn-info btn-sm' %></div>
      <% end %>
      <h1>
        <%= @post.title %>
        <small>by <%= @post.user.name %></small>
      </h1>
      <h6><%= @post.created_at.strftime('%D %r') %></h6>
    </div>
    <h3>

    </h3>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="body">
        <%= @post.body %>
      </div>
    </div>
  </div>
  <div class="row">
    <div  class="col-sm-12">
      <hr>
      <h3>
        Comments
      </h3>
    </div>
  </div>

  <% @post.comments.each do |c| %>
    <%= render partial: 'comments/show', locals: {comment: c} %>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <% if user_signed_in? %>
        <%= render partial: 'comments/new', locals: {comment: @new_comment} %>
      <% else %>
        <h3>Sign in to comment</h3>
        <%= render partial: 'devise/sessions/new' %>
      <% end %>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>
</div>
