<!DOCTYPE html>
<html>
  <head>
    <title>PreEmploy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'parts/main_nav' %>

    <%= the_flash %>

    <%= yield %>

    <div id="footer" style="height: 200px"></div>
  </body>
</html>
